@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700;800&display=swap");


:root {
    --primary-color: #007af3;
}

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Poppins';

    section.hero {
        background-color: white;
        padding: 1em;
        width: 30em;
        border-radius: 1em;
        text-align: center;
        align-items: center;
        text-decoration: none;
        box-shadow: 0 4px 8px 0 rgba(96, 92, 92, 0.19), 0 6px 20px 0 rgba(96, 92, 92, 0.19);
        position: absolute;
        top: 46%;
        left: 50%;
        -ms-transform: translateY(-50%) translate(-50%);
        transform: translateY(-50%) translate(-50%);
        background: white;
        padding-bottom: 0;

        form {
            display: flex;
            flex-direction: column;

            .container {
                display: flex;
                justify-content: center;
                .left-container {
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;

                    a {
                        text-transform: uppercase;
                        font-weight: bold;
                        color: gray;
                        margin-top: 1.5em;
                        margin-right: 2em;
                    }
                }
                .right-container {
                    display: flex;
                    flex-direction: column;
                    input {
                        margin-top: 1.5em;
                        height: 1.8em;
                        border: 0.1em gray;
                        border-style: solid;
                        background: #e3e3e4;
                        border-radius: 0.8em;
                        padding: 0.1em 0.8em 0.1em 0.8em ;

                        &:focus {
                            outline: none;
                        }
                    }

                }
            }

            .btn-container {
                display: flex;
                justify-content: center;
                .sign-up {
                    margin-top: 1.8em;
                    margin-bottom: 1.8em;
                    background: var(--primary-color);
                    color: white;
                    padding: 0.7em 1.2em;
                    font-size: 1.02em;
                    border-radius: 5em;
                    font-weight: bold;
                    display: inline-block;
                    letter-spacing: 0.4px;
                    border: none;
                    width: 8em;
            
                    &:hover {
                      background-color:#0575e4;
                    }
                  }
            }
        }

        .msg-container {
            margin-bottom: 1.2em;
            margin-left: 0.8em;
            margin-right: 0.8em;
            border: 0.05em gray;
            border-style: solid;
            background: #e7e7e9;
            border-radius: 0.8em;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding: 0.6em 0.8em;

            a {
                margin-right: auto;
                color: #f34134;
            }
        }

    }
}


.navbar {
    background: white;
    padding: 0.5em;

    .navbar-container {
        margin-left: 1em;
        .container-logo {
            display: flex;
            cursor: pointer;
            width: fit-content;
            .logo-icon {
                width: 4em;
            }
            .logo-bar {
                height: 4em;
            }
    
            .logo-words-container {
                padding: 0.2em;
                align-content: center;
                display: grid;
                .logo-up {
                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                    font-size: 1.1em;
            
                    span {
                        color:var(--primary-color);
                    }
                }
                .logo-down {
                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                    font-size: 1.2em;
                }
            }
            &:hover {
                transform: scale(1.015,1.015);
            }
        }
    }
}

a {
    text-decoration: none;
}